<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="ListeningOn" value="http://localhost:8082/"/>
		<add key="EnableRegistrationFeature" value="false"/>
		<add key="RecreateAuthTables" value="false"/>
        <add key="CreatePermissionsTables" value="true"/>
		<add key="EnableLog4Net" value="false" />    
		<add key="DefaultSessionExpiry" value="480" />    <!-- minutes !-->
		<add key="EnableRedisForAuthCache" value="true" />
		<add key="AuthCacheHost" value="localhost:6379" />
		<add key="AuthCacheDb" value="8" />
		<add key="AuthCachePassword" value="" />
		<add key="AddUsers" value="true" />
		<add key="AssemblyWithModels" value="Aicl.Delfin.Model.dll" />
		<add key="ModelsNamespace" value="Aicl.Delfin.Model.Types" />
	</appSettings>	
	<connectionStrings>
    	<add name="ApplicationDb" connectionString="Server=localhost;Database=AiclDelfin;Uid=root;Pwd=password;" />
	    <add name="UserAuth" connectionString="Server=localhost;Database=AiclDelfin;Uid=root;Pwd=password;" />
  	</connectionStrings>
</configuration>
