<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="ListeningOn" value="http://localhost:8082/"/>
		<add key="EnableRegistrationFeature" value="false"/>
		<add key="RecreateAuthTables" value="false"/>
		<add key="RecreateAppTables" value="false"/>
		<add key="Ignore" value="Cliente,Contacto,ClienteContacto,Servicio,Procedimiento,ServicioProcedimiento,Ciudad,FormaPago,Consecutivo,Pedido,PedidoItem"/>
		<add key="CreateCiudades" value="false"/>
		<add key="CreateFormasPago" value="false"/>
		<add key="CreateConsecutivos" value="false"/>
        <add key="ReCreatePermissionsTables" value="false"/>
		<add key="EnableLog4Net" value="false" />    
		<add key="DefaultSessionExpiry" value="480" />    <!-- minutes !-->
		<add key="EnableRedisForAuthCache" value="true" />
		<add key="AuthCacheHost" value="localhost:6379" />
		<add key="AuthCacheDb" value="8" />
		<add key="AuthCachePassword" value="" />
		<add key="AddUsers" value="true" />
		<add key="AssemblyWithModels" value="Aicl.Delfin.Model.dll" />
		<add key="ModelsNamespace" value="Aicl.Delfin.Model.Types" />
		<add key="CreateDemoUser" value="true" />
		<add key="CreateRoles" value="true" />
		<!--empresa !-->
		<add key ="Empresa" value='{"Id":0,"Nombre":"Colmetrik Ltda.","Alias":"Colombiana de Metrología","Lema":"Siempre a Su Servicio","Nit":"900.008.963-0","Direccion":"Calle 72 No. 55-54 Piso 3","Telefono":"(571) 5476161 3108231","Fax":"(571) 5491573","DireccionAntigua":"Calle 72 No 43-50 Piso 3","Ciudad":"Bogota D.C.","Pais":"Colombia","Mail":"colmetrik@colmetrik.com","Web":"www.colmetrik.com","MailServerUrl":"smtp.mailgun.org","MailServerUser":"demo@aicl.mailgun.org","MailServerPort":587,"MailServerEnableSsl":false,"ResponsableOfertasNombre":"Alfreldo Ramon","ResponsableOfertasMail":"alfredoramon@colmetrik.com","ResponsableOfertasCelular":"312 405 05 99","ResponsableOfertasCargo":"Director Administrativo y Comercial","CuentaBancaria":"Cuenta Corriente No. 04915730 del Banco de Bogotá", "ApplicationHost":"http://localhost:8080","ApplicationMailBox":"colmetrik.cotizacion@gmail.com"}'/>
		<add key = "CreateEmpresa" value="true"/>
	</appSettings>	
	<connectionStrings>
    	<add name="ApplicationDb" connectionString="Server=localhost;Database=AiclDelfin;Uid=root;Pwd=password;" />
	    <add name="UserAuth" connectionString="Server=localhost;Database=AiclDelfin;Uid=root;Pwd=password;" />
  	</connectionStrings>
</configuration>
